<section class="section section-competition section-tournament">
    <div class="container">
        <h1 class="title is-size-1 is-size-3-mobile">{{ record.title }}</h1>
    </div>

    {{ renderTournament(record)|raw }}
</section>
