// --- General
a {
    color: $link-color;

    &:hover {
        text-decoration: none;
        color: $link-color-hover;
    }

    &[data-toggle="collapse"] {
        position: relative;
    }
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

// --- Master
.wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.overflow-hidden {
    overflow: hidden;
}

// Écrans <= 800px
@include media-breakpoint-down(sm) {
    .wrapper {
        flex-direction: column;
    }
}
