/*
 * Pour compiler les CSS :
 * cd /var/www/html/asmb-cms/public/theme/peleq; compass watch --sass-dir=scss --css-dir=css
 */

//--- BASE
// Variables Bootstrap surchargées
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, Lato, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
$body-bg: white;

@import "../lib/bootstrap-4.1.3/scss/bootstrap";

//--- ASMB
// Variables personnalisées pour l'ASMB
$font-family-cursive: 'Mali', cursive;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 800px,
  lg: 992px,
  xl: 1200px
);

$theme-colors: (
    "primary": #026199,
    "primary-light": #289de3,
    "primary-xlight": #98bae1,
    "primary-dark": #02497e,
    "secondary": #222931,
    "secondary-light": #323b43,
    "secondary-xlight": #49555d,
    "secondary-xxlight": #5b6a72,
    "secondary-hover": #32405a,
    "tertiary": #dac692,
    "tertiary-dark": #bfa971,
    "tertiary-xdark": #ab785c
);

$navbar-width: 15rem;
$navbar-width-up-xl: 20%;
$navbar-width-down-sm: 20rem;

$footer-height: 10rem;
$link-color: theme-color('secondary-light');
$link-color-hover: theme-color('secondary-xxlight');

@import "_master.scss";
@import "_header.scss";
@import "_sidebar.scss";
@import "_main.scss";
@import "_footer.scss";
