.text-primary {
    color: $primary;
}

.text-secondary {
    color: $secondary;
}

.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

#main-content {
    h1.title {
        color: $text;
        font-weight: bold;

        strong {
            color: $secondary;
        }
    }
}

.columns.white-framed {
    align-items: center;
    background: linear-gradient(to right, $white 50%, $body-background-color);
    padding: 2.5rem 4rem;

    .column {
        img {
            border: solid 8px $primary;
            display: block;
            margin: auto;
        }
    }
}

.sticky .hero {
    margin-top: 5rem;
}

mark {
    background-color: $secondary-xlight;
}

/*****************/
/** RESPONSIVE  **/
/*****************/
@media screen and (min-width: $desktop) {
    #main-content .container {
        max-width: 94%;
    }
}

@media screen and (max-width: $desktop) {
    .columns.white-framed {
        padding: 0;
    }
}
