.matches {
    .container {
        h2.title {
            margin-bottom: 3rem;
            color: $primary;
        }

        .columns {
            background-color: $dark;
        }

        h3.title {
            color: $white;
        }

        .box {
            position: relative;
            background-color: $bg-light;
            height: calc(100% - 4.5rem);

            .last-updated-at {
                position: absolute;
                bottom: 61px;
                right: -80px;
                font-size: 0.7rem;
                transform: rotate(-90deg);
                width: 140px;
                height: 18px;
                color: $bg-light;
            }
        }

        .table {
            background-color: $bg-light;
            border-collapse: separate;
            line-height: 30px;

            thead:not(:first-child) th {
                padding-top: 2rem;
            }

            th {
                color: $secondary;
                font-size: 1.6rem;

                em {
                    font-size: 1rem;
                }

                a {
                    color: $secondary;

                    &:hover {
                        color: $dark;
                    }
                }
            }

            td {
                vertical-align: middle;
                padding: 0.25em 0.75em;
            }

            a {
                color: $dark;
                padding: 0.5rem;

                &:hover {
                    color: $secondary;
                }
            }

            .hour {
                text-align: center;
                width: 20%;
                white-space: nowrap;
                cursor: help;
            }

            .first-team {
                text-align: right;
                width: 25%;
            }

            .second-team {
                text-align: left;
                width: 25%;
            }

            .action {
                width: 20%;
                text-align: right;
                font-size: 1.3em;
            }

            .is-club {
                color: $primary;
                font-weight: 600;
            }
        }
    }
}

table {
    td.score {
        width: 10%;
        white-space: nowrap;
        text-align: center;
    }
    span.score {
        line-height: 30px;
        color: $text;
        border-radius: 12px;
        padding: 4px 9px;
        border: solid 1px $grey;
        white-space: nowrap;

        &.victory, &.defeat, &.draw {
            color: $white;
            padding: 5px 10px;
            border: none;
        }

        &.victory {
            background: $win;
        }

        &.defeat {
            background: $lost;
        }

        &.draw {
            background: $draw;
        }

        &.with-wo {
            cursor: help;
        }
    }
}

/*****************/
/** RESPONSIVE  **/
/*****************/
@media screen and (max-width: $widescreen) {
    .matches {
        .container {
            .column {
                h3.title {
                    font-size: 1.8rem !important;
                    margin-bottom: 0.5rem !important;
                }

                .box {
                    height: calc(100% - 2.5rem);

                    .table {
                        th {
                            font-size: 1.4rem;
                            em {
                                font-size: 0.9rem;
                            }
                        }
                    }
                }
            }

        }
    }
    table {
        span.score {
            padding: 2px 5px !important;

            &.victory, &.defeat, &.draw {
                padding: 3px 6px !important;
            }
        }
    }
}
@media screen and (min-width: $desktop) {
    .matches {
        .container {
            .columns {
                position: relative;
                .column.one-column {
                    z-index: 2;
                    position: relative;
                    margin-left: 25%;
                }

                i.fa-trophy {
                    font-size: 200px;
                    color: $primary;
                    position: absolute;
                    top: 33%;
                    z-index: 1;
                    opacity: 0.25;

                    &:first-of-type {
                        left: 15%;
                    }
                    &:last-of-type {
                        right: 15%;
                    }
                }
            }
        }
    }
}
