.section-page {
    .container {
        max-width: $desktop;
        margin: auto;

        h2 {
            color: $primary;
        }

        img {
            display: block;
            margin: 2rem auto;
            padding: 0;
            border: solid 5px $white;
            height: auto !important;
            width: auto !important;
            max-height: 400px;
        }
    }

    .pagination {
        justify-content: center;
    }
}

/*****************/
/** RESPONSIVE  **/
/*****************/
@media screen and (min-width: $desktop) {
    .section-page {
        .container {
            img {
                margin: 4rem auto;
                box-shadow: 2rem 2rem 0 0 $secondary-xlight, -2rem -2rem 0 0rem $primary;
                max-width: 60%;
            }
        }
    }
}
