.section-competition {
    h2 {
        margin: 1rem 0 0.5rem 0;
        color: $text;
    }
}

.section-championship {
    .pool-name {
        color: $primary;
        font-weight: bold;
        line-height: 30px;
        font-size: 1.1rem;

        &:hover {
            color: $dark;
        }
    }
    .columns {
        margin: 1rem -1.5rem;
        flex-wrap: wrap;
        align-content: stretch;
        background: $white;
        padding-bottom: 2rem;
        position: relative;

        .column {
            margin-bottom: 0;
            padding-bottom: 0;

            &.is-new-line {
                &::before {
                    content: '';
                    width: 100%;
                }
            }

            table {
                tr {
                    &.is-club {
                        background-color: $secondary-xlight;
                        font-weight: bold;
                    }

                    th, td {
                        padding: 2px;
                        font-size: 0.8rem;
                        vertical-align: middle;

                        &.is-club {
                            font-weight: bold;
                        }
                    }

                    th.text-center {
                        cursor: help;
                    }

                    &.even th, &.even td {
                        background-color: $bg-light;
                    }
                }

                &.table tbody tr:last-child td {
                    border-bottom-width: 1px;
                }

                &.table-meetings {
                    border-top: solid 2px $border-color-table;
                    th, td {
                        line-height: 30px;
                    }
                }
            }
        }

        .last-updated-at {
            position: absolute;
            bottom: 0;
            right: 0.5rem;
            font-size: 0.7rem;
            font-style: italic;
        }
    }
}

.section-tournament {
    .box {
        padding: 0;
        border-left: solid 2px $dark;

        .box-header {
            padding: 0 0.5rem 0.5rem 0.5rem;
            //background-color: $primary;
            color: $secondary;
            //border-bottom: solid 1px $primary;
        }

        .box-content {
            padding: 0 0.5rem;
            line-height: 1;

            span {
                display: block;

                &.ranking {
                    font-style: italic;
                }
            }
        }

        .box-footer {
            padding: 0.5rem 0.5rem 0 0.5rem;
            //border-top: solid 1px $primary;
            //background-color: $secondary;
            color: $primary;
            font-weight: bold;
        }

        &:before {
            
        }
    }
}

/*****************/
/** RESPONSIVE  **/
/*****************/
@media screen and (min-width: $tablet) and (max-width: $widescreen) {
    .section-championship {
        .columns {
            .column {
                padding: 0.75rem;

                table {
                    &.table-meetings {
                        th, td {
                            font-size: 0.7rem;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $tablet) {
    .section-championship {
        .columns {
            .column {
                padding: 0.5rem 1.5rem;

                h2.title {
                    margin-bottom: 0.75rem;
                    font-size: 2rem;
                }
            }
        }
    }
}
