.matches {
    .container {
        h2.title {
            margin-bottom: 3rem;
            color: $primary;
        }

        .columns {
            background-color: $dark;
        }

        h3.title {
            color: $white;
        }

        .box {
            background-color: $bg-light;
            height: calc(100% - 4.5rem);
        }

        .table {
            background-color: $bg-light;
            border-collapse: separate;

            thead:not(:first-child) th {
                padding-top: 2rem;
            }

            th {
                color: $secondary;
                font-size: 1.6rem;

                em {
                    font-size: 1rem;
                }
            }

            td {
                vertical-align: middle;
                padding: 0.25em 0.75em;
            }

            a {
                color: $dark;
                padding: 0.5rem;

                &:hover {
                    color: $secondary;
                }
            }

            .hour {
                text-align: center;
                width: 20%;
                white-space: nowrap;
                cursor: help;
            }

            .first-team {
                text-align: right;
                width: 25%;
            }

            .score {
                width: 10%;
                white-space: nowrap;
                text-align: center;
                line-height: 30px;

                span {
                    color: $white;
                    border-radius: 12px;
                    padding: 5px 10px;

                    &.victory {
                        background: $win;
                    }

                    &.defeat {
                        background: $lost;
                    }

                    &.draw {
                        background: $draw;
                    }
                }
            }

            .second-team {
                text-align: left;
                width: 25%;
            }

            .action {
                width: 20%;
                text-align: right;
                font-size: 1.3em;
            }

            .is-club {
                color: $primary;
                font-weight: 600;
            }
        }
    }
}

/*****************/
/** RESPONSIVE  **/
/*****************/
@media screen and (max-width: $widescreen) {
    .matches {
        .container {
            .column {
                h3.title {
                    font-size: 1.8rem !important;
                    margin-bottom: 0.5rem !important;
                }

                .box {
                    height: calc(100% - 2.5rem);

                    .table {
                        th {
                            font-size: 1.4rem;
                            em {
                                font-size: 0.9rem;
                            }
                        }
                        .score {
                            padding: 5px !important;
                        }
                    }
                }
            }

        }
    }
}
