.section-contact {
    .columns {
        .boltform {
            margin: 1rem auto;
        }

        .column-image {
            text-align: center;
            display: inline-flex;
            vertical-align: middle;

            i {
                font-size: 10rem;
                color: $secondary;
                display: block;
                margin: auto;
            }
        }

        #contact-back {
            margin-top: 5rem;
        }
    }
}

/*****************/
/** RESPONSIVE  **/
/*****************/
@media screen and (min-width: $tablet) {
    .section-contact {
        .columns {
            margin-top: 2rem;
            padding-left: 6rem;
            background-color: $white;
        }
    }
}

@media screen and (max-width: $tablet) {
    .section-contact .columns {
        .column-image {
            display: block;

            i {
                font-size: 5rem;
            }
        }

        #contact-back {
            margin-top: 2rem;
        }
    }
}
