// BACKEND ASMB specific styling.
//cd /var/www/html/asmb-cms/public/theme/peleq/source/; yarn run gulp

//---- Parameters
$default: #333333;
$success: #3c763d;
$warning: #ec971f;
$danger: #a94442;

$white: #ffffff;
$even: #f2f4f3;

$widescreen: 1280px;

//---- Styles
.row.small-gap {
    margin-right: -10px;
    margin-left: -10px;
}

//-- Common
.row.small-gap > [class^="col-"],
.row.small-gap > [class*=" col-"] {
    padding-right: 5px;
    padding-left: 5px;
}
.mt-md {
    margin-top: 20px;
}
.mb-md {
    margin-bottom: 20px;
}

//-- Liste des championnats
.championship-index {
    .dashboardlisting {
        th, td {
            vertical-align: middle;
        }

        .is_active i {
            cursor: help;
        }
    }
}

//-- Pages d'édition de championnats
.championship-edit {
    .is-club {
        font-weight: bold;
    }

    .panel-default > .panel-heading {
        line-height: 2.5rem;
    }

    input[type=date], input[type=time] {
        width: auto;
        line-height: 20px;
        display: inline-block;
        min-width: 72px;
    }

    .table-condensed {
        .checkbox {
            padding: 0;

            label {
                padding: 0;
                margin: auto;
                text-align: center;

                input {
                    margin: 0;
                    padding: 0;
                    position: unset;
                }
            }
        }
    }

    .table {
        &.table-teams {

            th {
                white-space: nowrap;
                padding: 4px 1px;
            }

            td {
                vertical-align: middle;
                padding: 4px 1px;
            }

            input.team-name {
                width: 13rem;
                padding: 6px;
            }

            input[type=checkbox] {
                margin-top: 5px;
            }

            tr.is-club {
                td {
                    background-color: #fcf8e3;
                }
            }
        }
        &.table-meetings {
            th {
                vertical-align: middle;
            }
            td {
                padding: 2px 4px;
                white-space: nowrap;
                vertical-align: middle;
            }

            .form-control {
                height: 30px;
            }
            .form-inline {
                display: inline-block;
                white-space: nowrap;
            }
            .form-control {
                padding: 4px 6px;
            }
            .select-team {
                min-width: 105px;
            }
            .info-pop {
                cursor: help;
            }
        }

        tr.even {
            th, td {
                background-color: $even;
            }
        }
    }

    .modal {
        .form-inline {
            display: inline-block;

            .btn-primary {
                line-height: 19px;
                vertical-align: top;
            }
        }
    }

    .panel-heading {
        .control-label {
            font-weight: bold;
            white-space: nowrap;
        }

        form {
            margin-top: -2px;
        }
    }

    .completeness-block {
        .btn {
            color: white;
            font-size: 1.5rem;
        }

        .badge {
            line-height: 24px;
            padding: 0 15px;

            &.bg-danger {
                background-color: $danger;
            }
            &.bg-success {
                background-color: $success;
            }
            &.bg-warning {
                background-color: $warning;
            }
        }
    }

    .score {
        border-radius: 8px;
        padding: 1px 6px;

        &.victory {
            background: $success;
            color: $white;
        }

        &.defeat {
            background: $danger;
            color: $white;
        }

        &.draw {
            background: $warning;
            color: $white;
        }
    }
}

@media screen and (max-width: $widescreen) {
    .championship-edit {
        .table-teams, .table-meetings {
            & * {
                font-size: 0.8em;
            }
        }
    }
}
