{#
 # Passed in variables:
 #   fields   — Field data from the form configuration
 #   config   — Email configuration data
 #   data     — POSTed data
 #   metadata — Form meta data
 #}
<p>Bonjour !</p>

<p>Le formulaire de contact a été soumis depuis le site {{ paths.currenturl }}.</p>

<p><u>Informations envoyées par le formulaire :</u></p>
<hr>
{{ block('submission_summary', '@AsmbCommon/contact/email/_blocks.twig') }}
