{% extends '@bolt/_base/_page-nav.twig' %}

{% block page_nav 'tournament-menu' %}

{% block page_title __('general.phrase.tournaments') %}

{% block page_main %}
    <div class="competition-page-main">
        {% import '@bolt/_macro/_macro.twig' as macro %}

        <div class="row">
            <div class="col-md-12">
                <p class="h4">Cet espace permet de saisir manuellement les données sur les tournois organisés par
                    l'ASMB.</p>
                <p class="h5">La FFT ne mettant pas à disposition des outils numériques permettant d'exporter les
                    données sur les tournois en cours, cela permet au club de pouvoir partager le planning et les
                    résultats des tournois sur le site web  - en re-saisissant tout - faute de mieux :-/.</p>
                <br>
                <p class="h4">Pour <strong>rendre les résultats visibles sur le site</strong>, il faut utiliser un
                    contenu de type
                    <a href="/asmbolt/overview/competitions?order=-id">Page de compétition</a> et y renseigner le champ
                    "ID (Bolt) du tournoi" dans l'onglet "Infos Tournoi".</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="pull-right mb-md">
                    {{ include('@AsmbCompetition/tournament/_index-actions.twig') }}
                </div>

                {{ include('@AsmbCompetition/tournament/_list.twig') }}
            </div>
        </div>
    </div>
{% endblock page_main %}
