{% extends '@bolt/_base/_page-nav.twig' %}

{#{% block page_nav 'visitors-statistics-menu' %}#}

{% block page_title 'Statistiques visites & visiteurs' %}

{% block page_main %}
    <div class="statistics-page-main">
        {% import '@bolt/_macro/_macro.twig' as macro %}

        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="title">Visites - Dernier mois</h2>
            </div>

            <div class="panel-body">
                <div id="lastMonthVisitsContainer" style="height: 250px; width: 100%;"></div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="title">Visiteurs - Dernier mois</h2>
            </div>

            <div class="panel-body">
                <div id="lastMonthVisitorsContainer" style="height: 250px; width: 100%;"></div>
            </div>
        </div>
    </div>

    <script>
        window.onload = function () {
            var chart = new CanvasJS.Chart("lastMonthVisitsContainer", {
                animationEnabled: true,
                theme: "light2", // "light1", "light2", "dark1", "dark2"
                axisX:{
                    valueFormatString: "DD/MM",
                    labelAngle: 45
                },
                data: [{
                    type: "column", //change type to bar, line, area, pie, etc
                    xValueType: "dateTime",
                    interval: 1,
                    intervalType: "day",
                    dataPoints: {{ lastMonthVisitsJsonData|raw }}
                }]
            });
            chart.render();

            var chart = new CanvasJS.Chart("lastMonthVisitorsContainer", {
                animationEnabled: true,
                theme: "light2", // "light1", "light2", "dark1", "dark2"
                axisX:{
                    valueFormatString: "DD/MM",
                    labelAngle: 45
                },
                data: [{
                    type: "column", //change type to bar, line, area, pie, etc
                    xValueType: "dateTime",
                    interval: 1,
                    intervalType: "day",
                    dataPoints: {{ lastMonthVisitorsJsonData|raw }}
                }]
            });
            chart.render();
        }
    </script>

    <script src="{{ asset('lib/canvasjs.min.js', 'theme') }}"></script>
{% endblock page_main %}