{# Sous-section pour la réservation sur ballejaune.com #}
<div class="sub-col">
    <p class="footer-title liens-utiles">Réservez un créneau</p>
    <div class="item">
        <a href="{{ homepage.footer_book_slot_url }}" target="_blank" title="">
            <i class="fas fa-caret-right"></i>
            Sur le site <span class="ballejaune embed-icon">balle jaune</span>
        </a>
    </div>
</div>

{# Sous-section pour les liens vers l'inscription et réseau sociaux #}
<div class="sub-col">
    <p class="footer-title liens-utiles">Rejoignez-nous</p>
    <div class="item"><a href="{{ homepage.footer_membership_url }}" title=""><i class="fas fa-caret-right"></i>{{- homepage.footer_membership_link_text -}}</a></div>
    <div class="item">
        <a href="{{ homepage.footer_facebook_link_url }}" target="_blank" title="">
            {#<i class="fas fa-caret-right"></i>Suivre l'ASMB sur <span class="facebook embed-icon">facebook</span></a>#}
            <i class="fas fa-caret-right"></i>Suivre l'ASMB sur <span
                    class="facebook embed-icon">facebook</span></a>
        {#<i class="fas fa-caret-right"></i>Suivre l'ASMB sur facebook</a>#}
    </div>
</div>
