{% if record.contenttype.slug|default() not in ['showcases', 'entries'] %}
    {% setcontent homepage = "homepage" limit 1 returnsingle %}

    {% set headerBannerFile = '' %}
    {% if homepage.header_banner %}
        {% set headerBannerFile = (homepage.header_banner is iterable) ? homepage.header_banner.file : homepage.header_banner %}
    {% endif %}

    <section class="hero hero-image {% if app.request.get('_route') == "homepage" %}is-medium{% else %}is-small{% endif %}"
             style="background: url('{{ asset(headerBannerFile, 'files') }}') no-repeat center bottom / cover;">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title is-spaced">{{- homepage.header_title -}}</h1>
                {% if homepage.header_baseline is not empty %}
                <h2 class="subtitle">{{- homepage.header_baseline -}}</h2>
                {% endif %}
            </div>
        </div>
    </section>
{% endif %}
