{% if record.contenttype.slug|default() not in ['showcases', 'entries'] %}
{% setcontent homepage = "homepage" limit 1 returnsingle %}
<section class="hero hero-image {% if app.request.get('_route') == "homepage" %}is-medium{% else %}is-small{% endif %}">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-spaced">{{- homepage.header_title -}}</h1>
            {% if homepage.header_baseline is not empty %}
            <h2 class="subtitle">{{- homepage.header_baseline -}}</h2>
            {% endif %}
        </div>
    </div>
</section>
{% endif %}
