{% extends '@bolt/_base/_page-nav.twig' %}

{% block page_nav 'championship-menu' %}

{% set title = __('general.phrase.championship_pool.edit', {'%name%': pool.short_name ? pool.short_name : pool.name}) %}
{% block page_title title %}

{% block page_main %}
    {% form_theme context.form 'form_bolt_layout.twig' %}

    <div class="row">
        <div class="col-md-12">
            {{ form(context.form) }}
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-12">
            <a href="{{ path('championshipedit', {'id': pool.championship_id}) }}" class="btn btn-default">
                <i class="fa fa-chevron-circle-left"></i>
                {{ __('general.phrase.back') }}
            </a>
        </div>
    </div>
{% endblock page_main %}
