{% if isallowed('competition:edit') %}
    <div class="btn-group">
        {# Ajout d'une compétition #}
        <a class="btn btn-default" href="{{ path('championshipedit', {'id': null}) }}">
            <i class="fa fa-fw fa-plus"></i>
            {{ __('panel.championship-actions.button.add') }}
        </a>

        {# Accès à l'édition des dates/heures des prochaines rencontres #}
        <a class="btn btn-tertiary" href="{{ path('poolmeetingsedit') }}">
            <i class="fa fa-fw fa-edit"></i>
            {{ __('panel.championship-actions.button.edit-datetime') }}
        </a>
    </div>
{% endif %}
