<form method="get" action="{{ path('search') }}" id="searchform-inline" enctype="text/plain" class="form-search">
    <div class="input-group">
        <input class="form-control border-white" value="{{ search|default() }}"
               placeholder="{{ __('general.phrase.search-ellipsis') }}" name="search">
        <div class="input-group-append">
            <button class="btn text-white border-white" type="submit">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
</form>
