{% extends 'partials/_master.twig' %}

{% setcontent record = "homepage" limit 1 returnsingle %}
{% block main %}
    <div class="homepage" data-nosnippet>

        {# BLOCS ACCUEIL - Bloc de bienvenue #}
        {% if record.teaser is not empty %}
            <section class="section welcome">
                <div class="container">
                    <div class="columns white-framed">
                        <div class="column{% if record.teaser_image is not empty %} is-three-quarters-desktop{% endif %}">
                            <div class="content">
                                <h2 class="title is-size-1 is-size-3-mobile">{{ record.title }}</h2>
                                <div class="teaser">{{ record.teaser }}</div>
                                {{ record.content }}
                            </div>
                        </div>
                        {% if record.teaser_image is not empty %}
                            <div class="column">
                                {% if record.teaser_image %}
                                    {{ record.teaser_image|showimage(300) }}
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </section>
        {% endif %}

        {# BLOCS ACCUEIL - Section du haut #}
        {% set index = 1 %}
        {% if record.blocks_top.count > 0 %}
            <section class="section blocks">
                <div class="container">
                    {% for item in record.blocks_top %}
                        {% setcontent block = 'blocs' where {'id': item.block} returnsingle %}
                        {# On vérifie que block est bien instancié, il peut s'agir d'un contenu dépublié... #}
                        {% if block != false %}
                            {% include block.contenttype.record_template_block with {'block': block, 'index': index} %}
                            {% set index = index+1 %}
                        {% endif %}
                    {% endfor %}
                </div>
            </section>
        {% endif %}

        {# Rencontres du moment #}
        {% include 'partials/home/_meetings.twig'
            with {'pastDays': record.meetings_past_days, 'futureDays': record.meetings_future_days} %}

        {# BLOCS ACCUEIL - Section du bas #}
        {% if record.blocks_bottom is not empty %}
            <section class="section blocks">
                <div class="container">
                    {% for item in record.blocks_bottom %}
                        {% setcontent block = 'blocs' where {'id': item.block} returnsingle %}
                        {# On vérifie que block est bien instancié, il peut s'agir d'un contenu dépublié... #}
                        {% if block != false %}
                            {% include block.contenttype.record_template_block with {'block': block, 'index': index} %}
                            {% set index = index+1 %}
                        {% endif %}
                    {% endfor %}
                </div>
            </section>
        {% endif %}
    </div>
{% endblock main %}
