{% extends 'partials/_master.twig' %}

{% block main %}
    {% setcontent homepage = "homepage" limit 1 returnsingle %}

    <div class="homepage">
        <section class="section welcome">
            <div class="container">
                <div class="columns white-framed">
                    <div class="column">
                        <div class="content">
                            <h2 class="title is-size-1 is-size-3-mobile">{{ homepage.title }}</h2>
                            <div class="teaser">{{ homepage.teaser }}</div>
                            {{ homepage.content }}

                            {% include 'partials/_record_meta.twig' with {'record': homepage } %}
                        </div>
                    </div>
                    <div class="column">
                        {% if homepage.teaser_image %}
                            {{ homepage.teaser_image|showimage(300) }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>


        {# BLOCS ACCUEIL - Section du haut #}
        {% if homepage.blocks_top is not empty %}
            <section class="section blocks">
                <div class="container">
                    {% for item in homepage.blocks_top %}
                        {% setcontent block = item.block %}
                        {% include block.contenttype.record_template with {'block': block, 'index': loop.index} %}
                    {% endfor %}
                </div>
            </section>
        {% endif %}

        {# Rencontres du moment #}
        {% include 'partials/home/_meetings.twig'
            with {'pastDays': homepage.meetings_past_days, 'futureDays': homepage.meetings_future_days}
        %}

        {# BLOCS ACCUEIL - Section du bas #}
        {% if homepage.blocks_bottom is not empty %}
            <section class="section blocks">
                <div class="container">
                    {% for item in homepage.blocks_bottom %}
                        {% setcontent block = item.block %}
                        {% set index = (homepage.blocks_top|length % 2) == 0 ? loop.index : loop.index0 %}
                        {% include block.contenttype.record_template with {'block': block, 'index': index} %}
                    {% endfor %}
                </div>
            </section>
        {% endif %}
    </div>
{% endblock main %}
