{% extends 'partials/_master.twig' %}

{% block main %}

<section class="section section-page section-documents">
    <div class="container">

        <h1 class="title is-size-1 is-size-3-mobile">{{ record.title }}</h1>

        <div class="columns">
            <div class="column">
                <article role="article" class="content">
                    {{ record.body|raw }}

                    {# If there are repeaters, we should output them. #}
                    {% with { 'record': record, 'common': false, 'repeaters': true, 'blocks': true, 'exclude': ['teaser', 'body', 'image'] } %}
                    {{ block('sub_fields', 'partials/_sub_fields.twig') }}
                    {% endwith %}
                </article>

                {{ include('partials/_recordfooter.twig', { 'record': record, 'extended': true }) }}
            </div>
        </div>
    </div>
</section>

{% endblock main %}
