#main {
    //max-width: $main-max-width;
    min-height: 30rem;
    position: relative;
    margin-top: $header-height + 2rem;
    padding: 0 $main-padding-side 0 $main-padding-side;
    display: flex;

    .blocks-container {
        padding: 0 1rem;
        display: flex;
        align-items: stretch;
        justify-content: center;
        flex-direction: row;

        .flex-column {
            margin: 0 0.5rem;
            min-width: 50%;
        }
        .block {
            padding: 2rem 2rem 1rem 2rem;
            //border-bottom: solid 3px theme-color('primary');

            // TODO variabiliser
            //background-color: $white;

            h2 {
                font-weight: bold;
                color: theme-color('secondary');
                margin-bottom: 2rem;

                &.title {
                    font-size: 2em;
                    font-family: $font-family-cursive;
                    margin-bottom: 3rem;

                    &::after {
                        content: "";
                        width: 20%;
                        height: 3px;
                        display: block;
                        margin-top: 10px;
                        margin-bottom: 10px;
                        background-color: theme-color('primary');
                    }
                }
            }

            h3 {
                color: theme-color('primary');
                font-size: 2.5em;
                margin-bottom: 1rem;
                font-weight: bold;
            }

            a {
                color: theme-color('secondary');

                &:hover {
                    color: theme-color('primary');
                }
            }

            p {
                white-space: normal;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            table {
                width: 100%;
                margin: 3rem 0;

                td {
                    padding-right: 1rem;
                    vertical-align: top;
                }
            }

            &.block-with-bg {
                color: $white;

                h2, h3, h4, h5 h6 {
                    color: $white;
                }

                a {
                    color: $white;

                    &:hover {
                        color: theme-color('secondary');
                    }
                }
            }

            .bottom-link {
                margin-top: 1rem;
                text-align: right;
                font-size: 1.2em;
            }
        }
    }

    &.under-sticky {
        margin-top: $header-height-sticky + 10rem;

        .col-main {
            //margin-left: $navbar-width;
            padding-bottom: 2rem;
        }
    }
}

// Écrans > 1600px
@include media-breakpoint-up(xxl) {
    #main {
        .blocks-container {
            padding: 0 2rem;

            .flex-column {
                margin: 0 1rem;
            }
        }
    }
}

// Écrans <= ~992px
@include media-breakpoint-down(md) {
    #main {
        flex: unset;
        padding: 0;

        .blocks-container {
            flex-direction: column;
        }
    }
}

// Écrans <= 800px
@include media-breakpoint-down(sm) {
    #main {
        margin-top: $header-height;

        .blocks-container {
            padding: 0;

            .flex-column {
                margin: 0;
            }
        }
    }
}
