.form-search {
    margin: auto;
    max-width: 26rem;
    height: 4rem;
    padding: 0.8rem 1rem 0 1rem;
    z-index: 1005;

    button {
        background-color: theme-color('primary');

        &:hover {
            background-color: theme-color('primary-xlight');
        }
    }
}
