#sidebar {
    width: $navbar-width;
    flex: 0 0 $navbar-width;
    margin-top: -6rem;
    background: theme-color('secondary');
    padding: 0;
    position: relative;
    min-height: 100%;
    z-index: 1001;
    overflow: hidden;

    a {
        color: $white;
        &:hover {
            color: $white;
        }
    }

    .sidebar-header {
        text-align: center;
        padding: 20px 0;

        h1 {
            font-size: 1.5em;

            a {
                text-decoration: none;

                span {
                    display: block;
                    margin-top: 0.5rem;
                }

                &:hover span {
                    color: theme-color('secondary-xxlight');
                }
            }
        }
    }

    .form-search {
        top: 0;
        width: 100%;
        background-color: theme-color('secondary');

        button {
            background-color: theme-color('secondary');

            &:hover {
                background-color: theme-color('secondary-xxlight');
            }
        }
    }

    #sidebarMenu {
        overflow: hidden;
        position: relative;
        height: 100%;
        padding-top: 3rem;
    }

    ul.components {
        margin: 2rem 0;

        li a {
            margin: 10px 0;
            padding: 10px 10px 10px 30px;
            font-size: 1.1em;
            display: block;

            &:hover {
                background: theme-color('secondary-hover');
                text-decoration: none;
                color: $white;
            }

            span {
                display: block;
            }
        }

        ul {
            margin-top: -10px;

            a {
                margin: 0;
                font-size: 0.9em !important;
                padding-left: 30px !important;
                background: theme-color('secondary-light');

                span {
                    border-bottom: none;
                }
            }
        }

        ul ul {
            margin-top: 0;

            a {
                font-size: 0.8em !important;
                padding-left: 60px !important;
                background: theme-color('secondary-xlight');
                border-bottom: none;
            }
        }
    }

    .close {
        display: none;
        position: absolute;
        top: 0.3rem;
        right: 0.3rem;
        z-index: 2000;

        span {
            display: block;
            color: theme-color('secondary-xxlight');
            width: 52px;
            height: 38px;
            line-height: 38px;
            font-size: 32px;
        }

        &:hover span {
            background-color: theme-color('secondary-xlight');
        }
    }
}

#sidebarCollapse {
    display: none;
}

.under-sticky #sidebar {
    //position: fixed;
    //top: 0;
    //transition: all 0.4s ease-in-out;
    //height: 100vh;
    margin-top: -10rem;

    &.absolute-sidebar {
        position: absolute;
        bottom: 0;
    }

    .form-search {
        z-index: 1002;
        //box-shadow: 0 3px 10px -6px #000;
        position: fixed;
        top: 0;
        left: 6rem;
        width: $navbar-width;

        //button {
        //    background-color: theme-color('primary');
        //
        //    &:hover {
        //        background-color: theme-color('primary-xlight');
        //    }
        //}
    }

    #sidebarMenu {
        padding-top: 5rem;
    }
}

// Écrans <= 1200px
@include media-breakpoint-down(lg) {
    #sidebar ul.components li a {
        padding-left: 15px;
    }
}

// Écrans <= 800px
@include media-breakpoint-down(sm) {
    #sidebar {
        z-index: 1000;
        width: $navbar-width-down-sm;
        margin-top: 0;
        margin-left: -($navbar-width-down-sm + 0.5rem);
        visibility: hidden;
        transition: all 0.2s ease-in-out;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        min-height: 100vh;
        height: 100%;
        overflow: auto;

        .close {
            display: block;

            &:focus {
                outline: none;
            }
        }

        .form-search {
            position: relative;
            top: 0;
            margin-top: 3rem;
            width: 100%;
        }

        #sidebarMenu {
            overflow: auto;
            padding-top: 0;
        }
    }

    #sidebar.active {
        margin-left: 0;
    }

    #sidebarCollapse {
        display: block;
    }

    .under-sticky #sidebar {
        margin-top: 0;

        .form-search {
            box-shadow: none;
            position: unset;
        }
    }
}

