<section class="section matches">
    <div class="container">
        <h2 class="title">Les rencontres du moment</h2>
        <div class="columns">
            <div class="column is-half">
                <h3 class="title">Tableau 1</h3>
                <div class="box">
                    <table class="table is-fullwidth">
                        <thead>
                        <tr>
                            <th colspan="5">Samedi 17 novembre</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr>
                            <td class="hour" title="Début des rencontres">13h30</td>
                            <td class="first-team home">H6</td>
                            <td class="score"> - </td>
                            <td class="second-team">AlBoudlon2</td>
                            <td class="action"><a href="#"><i class="fas fa-eye"></i></a></td>
                        </tr>
                        <tr>
                            <td class="hour" title="Début des rencontres">13h30</td>
                            <td class="first-team">TcSautron2</td>
                            <td class="score"><span class="win">0 / 3</span></td>
                            <td class="second-team home">1314</td>
                            <td class="action"><a href="#"><i class="fas fa-eye"></i></a></td>
                        </tr>
                        </tbody>

                        <thead>
                        <tr>
                            <th colspan="5">Dimanche 18 novembre</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr>
                            <td class="hour" title="Début des rencontres">08h00</td>
                            <td class="first-team home">H2</td>
                            <td class="score"><span class="lost">2 / 3</span></td>
                            <td class="second-team">ChapelleBM2</td>
                            <td class="action"><a href="#"><i class="fas fa-eye"></i></a></td>
                        </tr>
                        <tr>
                            <td class="hour" title="Début des rencontres">08h00</td>
                            <td class="first-team home">Da3</td>
                            <td class="score"><span class="draw">2 / 2</span></td>
                            <td class="second-team">Clis.Getigne1</td>
                            <td class="action"><a href="#"><i class="fas fa-eye"></i></a></td>
                        </tr>
                        <tr>
                            <td class="hour" title="Début des rencontres">08h00</td>
                            <td class="first-team home">H5</td>
                            <td class="score"><span class="lost">2 / 3</span></td>
                            <td class="second-team">TcSautron5</td>
                            <td class="action"><a href="#"><i class="fas fa-eye"></i></a></td>
                        </tr>
                        <tr>
                            <td class="hour" title="Début des rencontres">14h00</td>
                            <td class="first-team">RezeTc6</td>
                            <td class="score"><span class="win">2 / 3</span></td>
                            <td class="second-team home">H3</td>
                            <td class="action"><a href="#"><i class="fas fa-eye"></i></a></td>
                        </tr>
                        <tr>
                            <td class="hour" title="Début des rencontres">14h00</td>
                            <td class="first-team">Bouguenais3</td>
                            <td class="score"><span class="win">2 / 3</span></td>
                            <td class="second-team home">H1</td>
                            <td class="action"><a href="#"><i class="fas fa-eye"></i></a></td>
                        </tr>
                        <tr>
                            <td class="hour" title="Début des rencontres">14h00</td>
                            <td class="first-team">MsChantenay1</td>
                            <td class="score"><span class="win">0 / 5</span></td>
                            <td class="second-team home">H4</td>
                            <td class="action"><a href="#"><i class="fas fa-eye"></i></a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="column">
                <h3 class="title">Tableau 2</h3>
                <div class="box">
                    <table class="table is-fullwidth">
                        <thead>
                        <tr>
                            <th colspan="5">Samedi 17 novembre</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr>
                            <td class="hour">16h00</td>
                            <td class="first-team">Machecoul1</td>
                            <td class="score"> - </td>
                            <td class="second-team home">1516</td>
                            <td class="action"><a href="#"><i class="fas fa-eye"></i></a></td>
                        </tr>
                        </tbody>

                        <thead>
                        <tr>
                            <th colspan="5">Dimanche 18 novembre</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr>
                            <td class="hour">08h30</td>
                            <td class="first-team home">Da2</td>
                            <td class="score">-</td>
                            <td class="second-team">Bouguenais1</td>
                            <td class="action"><a href="#"><i class="fas fa-eye"></i></a></td>
                        </tr>
                        <tr>
                            <td class="hour">09h00</td>
                            <td class="first-team">TcPouliguen2</td>
                            <td class="score">-</td>
                            <td class="second-team home">Da1</td>
                            <td class="action"><a href="#"><i class="fas fa-eye"></i></a></td>
                        </tr>
                        <tr>
                            <td class="hour">12h00</td>
                            <td class="first-team home">SP4</td>
                            <td class="score">-</td>
                            <td class="second-team">TcAncenis2</td>
                            <td class="action"><a href="#"><i class="fas fa-eye"></i></a></td>
                        </tr>
                        <tr>
                            <td class="hour">13h30</td>
                            <td class="first-team">TcVignoble2</td>
                            <td class="score">-</td>
                            <td class="second-team home">1314</td>
                            <td class="action"><a href="#"><i class="fas fa-eye"></i></a></td>
                        </tr>
                        <tr>
                            <td class="hour">14h00</td>
                            <td class="first-team">AlCouets2</td>
                            <td class="score">-</td>
                            <td class="second-team home">SP3</td>
                            <td class="action"><a href="#"><i class="fas fa-eye"></i></a></td>
                        </tr>
                        <tr>
                            <td class="hour">16h30</td>
                            <td class="first-team home">SP2</td>
                            <td class="score">-</td>
                            <td class="second-team">ZolaTc2</td>
                            <td class="action"><a href="#"><i class="fas fa-eye"></i></a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="updated-at">Mis à jour le 20/11 à 18h22</div>
    </div>
</section>
