<section class="section section-competition section-tournament">
    <div class="container">
        <h1 class="title is-size-1 is-size-3-mobile">{{ record.title }}</h1>

        <div class="columns">


            <div class="box">
                <div class="box-header">Jeu 21/02 - 20h30</div>
                <div class="box-content">
                    <span class="player"><strong>SAINT PE</strong> Lauréline</span>
                    <span class="ranking">15/2</span>
                </div>
                <div class="box-footer columns is-mobile is-gapless">
                    <div class="columns is-mobile">
                        <div class="column is-one-third">6/0</div>
                        <div class="column is-one-third">6/2</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
