.section-stats {
    margin: 2rem 0 4rem 0;
    text-align: center;

    &:first-of-type {
        margin-top: 4rem;
    }

    &:last-of-type {
        margin-bottom: 0;
    }

    .container-progress-ring {
        margin: auto;

        svg {
            max-width: 50%;
            margin: auto;
            fill: $secondary;
            display: block;

            .progress-ring-bg {
                fill: $secondary;
            }
            .progress-ring-circle {
                transition: stroke-dashoffset 1.75s;
                transform: rotate(-90deg);
                transform-origin: 50% 50%;
                stroke: $primary;
            }

            text {
                display: block;
                height: 100%;
                width: 100%;
                fill: $white;
            }
        }
    }

    .stats-legend {
        font-size: 1.3rem;
        line-height: 1;
        color: $primary;
        font-weight: bold;
    }

    .big {
        .stats-legend {
            font-size: 3rem;
        }

        svg {
            max-width: 65%;
        }
    }

    &.even {
        .container-progress-ring {
            svg {
                fill: $primary;

                .progress-ring-bg {
                    fill: $primary;
                }
                .progress-ring-circle {
                    stroke: $secondary;
                }
            }
        }
        .stats-legend {
            color: $secondary;
        }
    }
}
