.section-competition {
    h2 {
        margin: 1rem 0;
        color: $text;
    }
}

.section-championship {
    .pool-name {
        color: $primary;
        font-weight: bold;
        white-space: nowrap;

        &:hover {
            color: $dark;
        }
    }

    .tabs {
        margin: 0 -1.5rem !important;

        li {
            a {
                text-decoration: none;
            }
        }
    }

    .columns {
        margin: 0 -1.5rem 1rem -1.5rem;
        flex-wrap: wrap;
        align-content: stretch;
        background: $white;
        padding-bottom: 2rem;
        position: relative;

        .column {
            margin-bottom: 0;
            padding-bottom: 0;

            &.is-new-line {
                &::before {
                    content: '';
                    width: 100%;
                }
            }

            table {
                tr {
                    &.is-club {
                        background-color: $secondary;
                        font-weight: bold;
                    }

                    th, td {
                        padding: 2px;
                        font-size: 0.8rem;
                        vertical-align: middle;

                        &.is-club {
                            font-weight: bold;
                        }
                    }

                    th.text-center {
                        cursor: help;
                    }

                    &.even th, &.even td {
                        background-color: $bg-light;
                    }
                }

                &.table tbody tr:last-child td {
                    border-bottom-width: 1px;
                }

                &.table-meetings {
                    border-top: solid 2px $border-color-table;

                    th, td {
                        line-height: 30px;
                    }
                }
            }
        }

        .last-updated-at {
            position: absolute;
            bottom: 0;
            right: 0.5rem;
            font-size: 0.7rem;
            font-style: italic;
        }
    }
}

#main-content .section-tournament {
    text-align: center;

    .box {
        .container {
            max-width: 75%;
        }
    }

    nav {
        display: flex;
        justify-content: center;

        .column {
            white-space: nowrap;
        }
    }

    pre, .title, p, span {
        text-align: left;
    }

    h1 {
        margin-bottom: 2rem;
    }

    h2 {
        color: $primary;
    }

    h3 {
        color: $secondary;
        font-size: 1.5rem;
        border-bottom: solid 2px $secondary;
        margin-top: 2.5rem;
    }

    em {
        color: $primary;
        font-weight: normal !important;
    }

    .score {
        color: $red;
    }

    .players-container {
        text-align: left;

        .columns {
            background: $white;
            margin-bottom: 0 !important;
            padding: 0.5rem 1rem;
            border-bottom: solid 1px $light;

            &:first-of-type {
                font-weight: bold;
                border-bottom: solid 2px $primary;
            }

            .column {
                vertical-align: middle;
                padding-right: 4px !important;
            }
        }
    }

    .tables-container {
        .table-container {
            overflow: auto;

            .table-container-centered {
                display: inline-table;
            }

            /** @see https://codepen.io/sdudnyk/pen/bWbqMb */
            $side-margin: 50px;
            $vertical-margin: 4px;
            $bg-color: $white;
            $border-color: $medium;
            $border-size: 1px;

            .table-container-part {
                display: flex;
                justify-content: flex-end;
                font-size: 0.7rem;

                .item {
                    display: flex;
                    flex-direction: row-reverse;
                    margin-bottom: 4px;

                    p {
                        padding: 6px;
                        margin: 0;
                        background-color: $bg-color;
                        width: 10rem;
                        text-align: left;

                        a.player-link {
                            text-decoration: none;

                            &:hover {
                                background: $secondary-xlight;
                            }
                        }

                        .name {
                            font-weight: 700;
                            line-height: 1;
                            display: inline-block;
                        }

                        .date {
                            color: $secondary;
                            font-weight: bold;
                        }

                        .club {
                            font-size: 0.6rem;
                        }
                    }

                    &-parent {
                        position: relative;
                        margin-left: $side-margin;
                        display: flex;
                        align-items: center;

                        &:after {
                            position: absolute;
                            content: '';
                            width: $side-margin/2;
                            height: $border-size;
                            left: 0;
                            top: 50%;
                            background-color: $border-color;
                            transform: translateX(-100%);
                        }
                    }

                    &-childrens {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                    }

                    &-child {
                        display: flex;
                        align-items: flex-start;
                        justify-content: flex-end;
                        margin-top: $vertical-margin;
                        margin-bottom: $vertical-margin;
                        position: relative;

                        &:before {
                            content: '';
                            position: absolute;
                            background-color: $border-color;
                            right: 0;
                            top: 50%;
                            transform: translateX(100%);
                            width: 25px;
                            height: $border-size;
                        }

                        &:after {
                            content: '';
                            position: absolute;
                            background-color: $border-color;
                            right: -$side-margin / 2;
                            height: calc(50% + 22px);
                            width: $border-size;
                            top: 50%;
                        }

                        &:last-child {
                            &:after {
                                transform: translateY(-100%);
                            }
                        }

                        &:only-child:after {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .results-container {
        text-align: left;

        .winner-name, .winner-rank, .score {
            font-weight: bold;
        }

        .winner-name {
            color: $win !important;
        }
    }

    .planning-container {
        .planning-nav {
            margin: 2rem auto;

            li {
                display: inline-flex;
                margin-bottom: 1rem;

                a {
                    white-space: nowrap;
                    border: solid 1px $secondary;
                    text-decoration: none;
                    padding: 0.5rem 0;
                    text-align: center;
                    width: 4rem;
                    font-size: 0.85rem;

                    &:hover, &.is-active {
                        background: $secondary;
                        color: $white;
                    }
                }
            }
        }

        .columns {
            text-align: left;
            background: $white;
            margin-bottom: 0 !important;
            padding: 0.5rem 0;
            border-bottom: solid 1px $light;

            .day {
                text-transform: uppercase;
                white-space: nowrap;
            }

            &:first-of-type {
                border-bottom: solid 2px $primary;
            }

            .column {
                padding: 0 4px !important;
                line-height: 1.2;
            }
        }

        .player-link {
            font-weight: 600;
        }

        .is-winner a {
            color: $win !important;
            font-weight: 700;
        }

        .club {
            font-size: 0.7rem;
            color: $dark-light;
            margin-top: 6px;
        }
    }

    .one-player-container {
        text-align: left;

        .table-name {
            color: $dark;
            border-bottom: solid 2px $dark;
            font-weight: bold;
            margin: 1.5rem 0 1rem 0;

            &:first-of-type {
                margin-top: 0;
            }
        }

        .column > span {
            padding-right: 1rem;
        }

        .column .player-name {
            display: inline-block;
            padding-bottom: 1rem;
        }
    }
}

.section-home-meetings {
    .pagination-previous {
        color: $primary;
        position: absolute;
        top: 1.5rem;
        left: 0;
        margin: 0;

        span {
            padding-left: 0.5rem;
        }
    }

    .pagination-next {
        color: $primary;
        position: absolute;
        top: 1.5rem;
        right: 0;
        margin: 0;

        span {
            padding-right: 0.5rem;
        }
    }

    table {
        caption {
            position: relative;

            h2 {
                font-weight: bold;
            }
        }

        tr {
            th {
                background-color: $grey-lighter;
                color: $secondary;
                padding: 0.75rem 0.75rem 0.25rem 0.75rem;
            }

            &.home-meeting {
                td {
                    border-top: none;

                    &:not(:first-child) {
                        border-left: none;
                    }

                    &:not(:last-child) {
                        border-right: none;
                    }

                    &.is-club {
                        font-weight: bold;
                        color: $primary;
                        text-align: right;
                    }

                    &.score {
                        span.score {
                            line-height: normal;
                        }
                    }
                }

                &:not(:last-child) {
                    td {
                        border-bottom: none;
                    }
                }
            }

            td .empty {
                padding: 3rem;
            }
        }
    }

    .columns .columns {
        clear: both;
        flex-direction: column;
        border-bottom: solid 1px $secondary-xlight;
    }
}

/*****************/
/** RESPONSIVE  **/
/*****************/
@media screen and (min-width: $tablet) and (max-width: $widescreen) {
    #main-content .section-championship {
        .columns {
            .column {
                padding: 0.75rem;

                table {
                    &.table-meetings {
                        th, td {
                            font-size: 0.7rem;
                        }
                    }
                }
            }
        }
    }

    #main-content .section-tournament {
        font-size: 0.8rem;

        .box {
            .container {
                max-width: 75%;
            }
        }

        .tables-container {
            .table-container {

                .table-container-part {
                    .item {
                        p {
                            width: 7.5rem;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: $desktop) {
    .section-home-meetings {
        table {
            tr.home-meeting {
                td {
                    font-size: 1.3rem;
                }
            }
        }
    }
}

@media screen and (max-width: $tablet) {
    #main-content .section-tournament {
        font-size: 0.8rem;

        h2.title {
            font-size: 1.7rem;
        }

        h3.title {
            font-size: 1rem;
        }

        .box {
            padding: 1rem;

            .container {
                max-width: 100%;
            }
        }

        nav {
            .control {
                &:not(:last-of-type) {
                    padding-bottom: 0;
                }

                .select, select {
                    width: 100%;
                }
            }

            .label.is-invisible {
                display: none;
            }

            .column a {
                width: 100%;
            }
        }

        .planning-container {
            .columns.is-gapless.is-multiline {
                .column {
                    margin-top: 0.5rem !important;
                    margin-bottom: 1rem !important;

                    .player-link {
                        font-size: 0.9rem;
                    }

                    .score {
                        flex-grow: unset;
                        margin: 0;
                        font-size: 1rem;
                    }

                    em {
                        display: block;
                    }

                    &:last-of-type {
                        text-align: right;
                    }
                }
            }
        }

        .players-container .columns {
            padding: 0.5rem 0.25rem;
        }

        .results-container {
            .winner-name, .name {
                font-size: 1.1rem;
                font-weight: bold;
            }

            .winner-rank, .rank {
                font-style: italic;
                color: $primary;
                font-weight: bold;
            }
        }
    }

    .section-home-meetings {
        .pagination-previous, .pagination-next {
            top: 1rem;

            span {
                display: none;
            }
        }

        tr.home-meeting {
            td {
                font-size: 13px;
                padding-left: 0.25rem;
                padding-right: 0.25rem;
            }
        }
    }
}
