{% set lastMeetings = getLastMeetings(pastDays) %}
{% set nextHomeMeetings = getNextMeetings(futureDays, true) %}
{% set nextVisitorMeetings = getNextMeetings(futureDays, false, true) %}

{% if lastMeetings is not empty or nextHomeMeetings is not empty or nextVisitorMeetings is not empty %}
<section id="actual-meetings" class="section matches">
    <div class="container">
        <h2 class="title">{{ __("home.meetings_of_the_moment.title") }}</h2>

        {% set columnCount = 0 %}
        <div class="columns">
            {% if lastMeetings is not empty %}
                <div class="column">
                    {% include 'partials/home/meetings/_meetings_by_date.twig' with {
                            'title': __("home.last-meetings.title"),
                            'meetings': lastMeetings,
                            'showLastUpdatedAt': (nextHomeMeetings is empty and nextVisitorMeetings is empty),
                            'showHour': false
                        }
                    %}
                </div>
                {% set columnCount = columnCount + 1 %}
            {% endif %}

            {% if nextHomeMeetings is not empty %}
                <div class="column">
                    {% include 'partials/home/meetings/_meetings_by_date.twig' with {
                            'title': __("home.next-home-meetings.title"),
                            'meetings': nextHomeMeetings,
                            'showLastUpdatedAt': (lastMeetings is empty and nextVisitorMeetings is empty)
                        }
                    %}
                </div>
                {% set columnCount = columnCount + 1 %}
            {% endif %}

            {% if nextVisitorMeetings is not empty %}
                <div class="column">
                    {% include 'partials/home/meetings/_meetings_by_date.twig' with {
                            'title': __("home.next-visitor-meetings.title"),
                            'meetings': nextVisitorMeetings,
                            'showLastUpdatedAt': true,
                            'showHour': false
                        }
                    %}
                </div>
                {% set columnCount = columnCount + 1 %}
            {% endif %}

            {% if columnCount == 1 %}
                <i class="fas fa-trophy"></i>
                <i class="fas fa-trophy"></i>
            {% endif %}
        </div>
    </div>
</section>
<a href="#actual-meetings" class="scrollto" data-target="#actual-meetings"><i class="fa fa-trophy"></i><span>{{ __("home.meetings_of_the_moment.go_to") }}</span></a>
{% endif %}
